@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Welcome, @ViewBag.UserName!</h2>
    <p>Your User Email is: @ViewBag.UserId</p>
}
